In [13]:
import pandas as pd
from time import time
from sqlalchemy import create_engine, text

In [15]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@127.0.0.1:5432/ny_taxi')

In [16]:
engine.connect()

In [ ]:
df = pd.read_csv('./Datasets/yellow_tripdata_2019-10.csv')
print(df.dtypes)
len(df)

In [ ]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
df['passenger_count'] = df['passenger_count'].fillna(0).astype('int64')
df['RatecodeID'] = df['RatecodeID'].fillna(0).astype('int64')
print(df.dtypes)

In [ ]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

In [ ]:
#insert october data
df_iter = pd.read_csv('./Datasets/yellow_tripdata_2019-10.csv', iterator=True, chunksize=30000)
doing = True
records = 0

while doing == True:
    try:
        t_start = time()
        df_insert = next(df_iter)
        df_insert['tpep_pickup_datetime'] = pd.to_datetime(df_insert['tpep_pickup_datetime'])
        df_insert['tpep_dropoff_datetime'] = pd.to_datetime(df_insert['tpep_dropoff_datetime'])
        df_insert['passenger_count'] = df_insert['passenger_count'].fillna(0).astype('int64')
        df_insert['RatecodeID'] = df_insert['RatecodeID'].fillna(0).astype('int64')
        records += len(df_insert)
        df_insert.to_sql(name = 'yellow_taxi_data', con=engine, if_exists='append', index=False, method='multi')
        t_end = time()
        print(f"Inserted chunk, took %.5f sec, currently at {records} records."%(t_end-t_start))
    except:
        doing = False
        print("Injestion ended.")

In [ ]:
df_nov = pd.read_csv('./Datasets/yellow_tripdata_2019-11.csv')
len(df_nov)

In [ ]:
print(df_nov.head(10))

In [ ]:
#insert nov data
df_iter_nov = pd.read_csv('./Datasets/yellow_tripdata_2019-11.csv', iterator=True, chunksize=30000)
doing_nov = True
records_nov = 0

while doing_nov == True:
    try:
        t_start_nov = time()
        df_insert_nov = next(df_iter_nov)
        df_insert_nov['tpep_pickup_datetime'] = pd.to_datetime(df_insert_nov['tpep_pickup_datetime'])
        df_insert_nov['tpep_dropoff_datetime'] = pd.to_datetime(df_insert_nov['tpep_dropoff_datetime'])
        df_insert_nov['passenger_count'] = df_insert_nov['passenger_count'].fillna(0).astype('int64')
        df_insert_nov['RatecodeID'] = df_insert_nov['RatecodeID'].fillna(0).astype('int64')
        records += len(df_insert_nov)
        df_insert_nov.to_sql(name = 'yellow_taxi_data', con=engine, if_exists='append', index=False, method='multi')
        t_end_nov = time()
        print(f"Inserted chunk, took %.5f sec, currently at {records} records."%(t_end_nov-t_start_nov))
    except:
        doing_nov = False
        print("Injestion ended.")

In [4]:
df_green_oct = pd.read_csv('./Datasets/green_tripdata_2019-10.csv')
len(df_green_oct)

/var/folders/qy/qkrgck7j3zq1x2ycmc8m9vh80000gn/T/ipykernel_61535/650018661.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green_oct = pd.read_csv('./Datasets/green_tripdata_2019-10.csv')

476386

In [5]:
print(df_green_oct.head(10))

   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0       2.0  2019-10-01 00:26:02   2019-10-01 00:39:58                  N
1       1.0  2019-10-01 00:18:11   2019-10-01 00:22:38                  N
2       1.0  2019-10-01 00:09:31   2019-10-01 00:24:47                  N
3       1.0  2019-10-01 00:37:40   2019-10-01 00:41:49                  N
4       2.0  2019-10-01 00:08:13   2019-10-01 00:17:56                  N
5       2.0  2019-10-01 00:35:01   2019-10-01 00:43:40                  N
6       1.0  2019-10-01 00:28:09   2019-10-01 00:30:49                  N
7       2.0  2019-10-01 00:28:26   2019-10-01 00:32:01                  N
8       2.0  2019-10-01 00:14:01   2019-10-01 00:26:16                  N
9       1.0  2019-10-01 00:03:03   2019-10-01 00:17:13                  Y

   RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0         1.0           112           196              1.0           5.88
1         1.0            43           263              1.0           0.80
2         1.0           255           228              2.0           7.50
3         1.0           181           181              1.0           0.90
4         1.0            97           188              1.0           2.52
5         1.0            65            49              1.0           1.47
6         1.0             7           179              1.0           0.60
7         1.0            41            74              1.0           0.56
8         1.0           255            49              1.0           2.42
9         1.0           130           131              1.0           3.40

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0         18.0   0.50      0.5        0.00           0.0        NaN
1          5.0   3.25      0.5        0.00           0.0        NaN
2         21.5   0.50      0.5        0.00           0.0        NaN
3          5.5   0.50      0.5        0.00           0.0        NaN
4         10.0   0.50      0.5        2.26           0.0        NaN
5          8.0   0.50      0.5        1.86           0.0        NaN
6          4.0   0.50      0.5        1.00           0.0        NaN
7          4.5   0.50      0.5        0.00           0.0        NaN
8         10.5   0.50      0.5        0.00           0.0        NaN
9         13.0   0.50      0.5        2.85           0.0        NaN

   improvement_surcharge  total_amount  payment_type  trip_type  \
0                    0.3         19.30           2.0        1.0
1                    0.3          9.05           2.0        1.0
2                    0.3         22.80           2.0        1.0
3                    0.3          6.80           2.0        1.0
4                    0.3         13.56           1.0        1.0
5                    0.3         11.16           1.0        1.0
6                    0.3          6.30           1.0        1.0
7                    0.3          5.80           2.0        1.0
8                    0.3         11.80           2.0        1.0
9                    0.3         17.15           1.0        1.0

   congestion_surcharge
0                   0.0
1                   0.0
2                   0.0
3                   0.0
4                   0.0
5                   0.0
6                   0.0
7                   0.0
8                   0.0
9                   0.0

In [6]:
#insert green oct data
df_iter_green_oct = pd.read_csv('./Datasets/green_tripdata_2019-10.csv', iterator=True, chunksize=30000)
doing_green_oct = True
records_green_oct = 0

while doing_green_oct == True:
    try:
        t_start_green_oct = time()
        df_insert_green_oct = next(df_iter_green_oct)
        df_insert_green_oct['lpep_pickup_datetime'] = pd.to_datetime(df_insert_green_oct['lpep_pickup_datetime'])
        df_insert_green_oct['lpep_dropoff_datetime'] = pd.to_datetime(df_insert_green_oct['lpep_dropoff_datetime'])
        df_insert_green_oct['passenger_count'] = df_insert_green_oct['passenger_count'].fillna(0).astype('int64')
        df_insert_green_oct['RatecodeID'] = df_insert_green_oct['RatecodeID'].fillna(0).astype('int64')
        records_green_oct += len(df_insert_green_oct)
        df_insert_green_oct.to_sql(name = 'green_taxi_data', con=engine, if_exists='append', index=False, method='multi')
        t_end_green_oct = time()
        print(f"Inserted chunk, took %.5f sec, currently at {records_green_oct} records."%(t_end_green_oct-t_start_green_oct))
    except:
        doing_green_oct = False
        print("Injestion ended.")

Inserted chunk, took 21.09329 sec, currently at 30000 records.
Inserted chunk, took 15.64377 sec, currently at 60000 records.
Inserted chunk, took 15.08721 sec, currently at 90000 records.
Inserted chunk, took 14.93264 sec, currently at 120000 records.
Inserted chunk, took 16.35711 sec, currently at 150000 records.
Inserted chunk, took 14.58056 sec, currently at 180000 records.
Inserted chunk, took 14.92886 sec, currently at 210000 records.
Inserted chunk, took 14.77537 sec, currently at 240000 records.
Inserted chunk, took 15.06792 sec, currently at 270000 records.
Inserted chunk, took 14.79251 sec, currently at 300000 records.
Inserted chunk, took 14.98569 sec, currently at 330000 records.
Inserted chunk, took 14.84873 sec, currently at 360000 records.
Inserted chunk, took 14.59791 sec, currently at 390000 records.
Inserted chunk, took 13.98726 sec, currently at 420000 records.
Inserted chunk, took 14.26567 sec, currently at 450000 records.
Inserted chunk, took 12.16679 sec, currently at 476386 records.
Injestion ended.

In [33]:
df_taxizone = pd.read_csv('./Datasets/taxi_zone_lookup.csv')
print(df_taxizone.head(10))
print(df_taxizone.dtypes)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone
5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6           7         Queens                  Astoria    Boro Zone
7           8         Queens             Astoria Park    Boro Zone
8           9         Queens               Auburndale    Boro Zone
9          10         Queens             Baisley Park    Boro Zone
LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [34]:
#insert taxi_zone_lookup data
df_iter_taxizone = pd.read_csv('./Datasets/taxi_zone_lookup.csv', iterator=True, chunksize=30000)
doing_taxizone = True
records_taxizone = 0

while doing_taxizone == True:
    try:
        t_start_taxizone = time()
        df_insert_taxizone = next(df_iter_taxizone)
        records_taxizone += len(df_insert_taxizone)
        df_insert_taxizone.to_sql(name = 'taxi_zones', con=engine, if_exists='append', index=False, method='multi')
        t_end_taxizone = time()
        print(f"Inserted chunk, took %.5f sec, currently at {records_taxizone} records."%(t_end_taxizone-t_start_taxizone))
    except:
        doing_taxizone = False
        print("Injestion ended.")

Inserted chunk, took 0.22182 sec, currently at 265 records.
Injestion ended.

In [ ]:
#q3,q4,q5

def query(command):
    with engine.connect() as connection:
        result = connection.execute(text(command))
        rows = result.fetchall()
        for row in rows:
            print(row)

#q3
print("q3")
query("select count(*) from green_taxi_data where lpep_pickup_datetime < '2019-11-01' and lpep_pickup_datetime >= '2019-10-01'and lpep_dropoff_datetime< '2019-11-01'and trip_distance <= 1")
query("select count(*) from green_taxi_data where lpep_pickup_datetime < '2019-11-01' and lpep_pickup_datetime >= '2019-10-01'and lpep_dropoff_datetime< '2019-11-01'and trip_distance > 1 and trip_distance <= 3")
query("select count(*) from green_taxi_data where lpep_pickup_datetime < '2019-11-01' and lpep_pickup_datetime >= '2019-10-01'and lpep_dropoff_datetime< '2019-11-01'and trip_distance > 3 and trip_distance <= 7")
query("select count(*) from green_taxi_data where lpep_pickup_datetime < '2019-11-01' and lpep_pickup_datetime >= '2019-10-01'and lpep_dropoff_datetime< '2019-11-01'and trip_distance > 7 and trip_distance <= 10")
query("select count(*) from green_taxi_data where lpep_pickup_datetime < '2019-11-01' and lpep_pickup_datetime >= '2019-10-01'and lpep_dropoff_datetime< '2019-11-01'and trip_distance > 10")


#q4
print("q4")
query(("select lpep_pickup_datetime from green_taxi_data where trip_distance = "\
                                "("\
                                    "select max(trip_distance) from green_taxi_data" \
                                ")"))
#q5
print("q5")
query("select taxi_zones.\"Zone\", PU_Table.zone_PU_sum from taxi_zones inner join" \
        " ("\
            " select \"PULocationID\", sum(total_amount) as zone_PU_sum FROM green_taxi_data"\
            " where green_taxi_data.lpep_pickup_datetime::date = '2019-10-18'"\
            " group by \"PULocationID\""\
            " HAVING sum(total_amount) >13000"\
        " ) as PU_Table"\
        " on PU_Table.\"PULocationID\" = taxi_zones.\"LocationID\""
        " order by PU_Table.zone_PU_sum DESC" \
        " limit 3")


#q6
print("q6")
query("select do_table.\"Zone\" as dropoff_location, green_taxi_data.tip_amount from taxi_zones do_table"\
        " inner join green_taxi_data on do_table.\"LocationID\" = green_taxi_data.\"DOLocationID\""\
        " inner join taxi_zones pu_table on pu_table.\"LocationID\" = green_taxi_data.\"PULocationID\""\
        " where pu_table.\"Zone\" = 'East Harlem North'"\
        " order by green_taxi_data.tip_amount DESC"\
        " limit 1")

q3
(104802,)
(109603,)
(27678,)
(35189,)
q4
(datetime.datetime(2019, 10, 31, 23, 23, 41),)
q5
('East Harlem North', 18686.680000000084)
('East Harlem South', 16797.260000000068)
('Morningside Heights', 13029.790000000028)
q6
('JFK Airport', 87.3)